*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #4ab8eb;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
}
@media (max-width: 1325px){
	header{
		padding: 15px 3%;
	}
	header.sticky{
		padding: 8px 3%;
	}
	
}
.logo img{
	width: 115px;
	height: auto;
}
.navbar{
	display: flex;
	background-color: #333;
}

.navbar a{
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	padding: 10px 25px;
	border-radius: 0.5rem;
	transition: all .40s ease;
}

.navbar a:hover{
	background: var(--main-color);
	color: var(--text-color);
}
.row {
	margin: -20px 0;
  }
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  .row .col {
	padding: 0 20px;
	float: left;
	box-sizing: border-box;
  }
  .row .col.x-50 {
	width: 50%;
  }
  .row .col.x-100 {
	width: 100%;
  }
#menu-icon{
	font-size: 36px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}
@media (max-width: 830px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: -500px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #12141c;
		text-align: left;
		transition: all .40s ease;
	}
	.navbar a{
		display: block;
		padding: 1rem;
		margin: 1rem;
	}
	.navbar.active{
		top: 100%;
	}
	:root{
		--h1-font: 3.7rem;
	  --h2-font: 2.7rem;
	}
}